* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url('../Public/FondoInicio.jpg'); /* PARA CASA */
  /*background-image: url('../fondo\ IFTS12.png'); /* PARA EL TRABAJO */
  background-size: 100% 100%;
  background-size: cover;
}

.footer {
  background-color: grey;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to 100% of the viewport */
}
